*{
    margin: 0;
    padding: 0%;
}

#contenedor{
    width: 90%;
    background: rgb(171, 168, 168);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contenedor img{
    width: 100%;
}

.primero{
    background: red;
    width: 30%;
    padding: 2%;
    box-sizing: border-box;
}

.segundo{
    background: cadetblue;
    width: 30%;
    padding: 2%;
    box-sizing: border-box;
}

.tercero{
    background: green;
    width: 30%;
    padding: 2%;
    box-sizing: border-box;
}

#navbar{
    width: 100%;
    background: rgb(172, 166, 166);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.item1{
    width: 20%;
    padding: 2%;
    box-sizing: border-box;
}

.item2{
    width: 25%;
    padding: 2%;
    box-sizing: border-box;
}

.item3{
    width: 25%;
    padding: 2%;
    box-sizing: border-box;
}

.item4{
    width: 25%;
    padding: 2%;
    box-sizing: border-box;
}

@media screen and (min-width: 660px) and (max-width: 1200px) {
    body{
        background: rgb(247, 247, 149);
    }
}
